html {
    background-color: #121212;
    font-family: 'SF Pro Text', Arial, sans-serif;
    color:white;
    max-width: 100%;    
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('lib/assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('lib/assets/fonts/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('lib/assets/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('lib/assets/fonts/SF-Pro-Text-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('lib/assets/fonts/SF-Pro-Text-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

:root, html, body {
    overflow-x: hidden;  
    overflow-x: clip;    
}